html {
  box-sizing: border-box;

  color: #2f2d13;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin-top: 0;
  margin-left: 10em;
  margin-right: 10em;
}

figure {
  position: relative;
  margin-top: 1em;
}

.img-flex {
  display: block;
  width: 100%;
  position: relative;
}

figcaption {
  color: #fff;
  text-shadow: 2px 2px #71ada1;
  outline-color: #fff;
  outline-width: medium;
  outline-style: solid;
  text-align: center;
  max-width: 15em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-color: #83c9bb;

  text-align: center;
}

h1 {
  padding-top: 1em;
  margin-bottom: .25em;
  font-size: 3rem;
  color: #fff;
}

nav {
  font-size: 1.125rem;
  padding-bottom: .25em;
}

nav ul {
  margin: 0;
  padding-right: .3em;

  list-style-type: none;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-bottom: .3em;
}

nav a {
  display: inline-block;
  padding: .2em .5em .3em;

  border-radius: 4px;

  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #71ada1;
  color: #fff;
}

nav a.current {
  background-color: #71ada1;
}

main {
  padding: 0 .75em;
}

footer {
  padding: .75em;
  color: #fff;

  background-color: #71ada1;

  text-align: center;
}

footer small {
  font-size: .75rem;
}
